name: build_windows

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: setup
        run: |
          make --version
          gcc --version
          ls -al

      - name: test
        run: |
          echo "Run tests"
          make test

      - name: build
        run: |
          echo "Build all"
          make purge
          make all
